@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');
.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.frontpage {
  

  background-image: url("../img/blogtype.png");



  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.jumbotron {
  background-color: rgba(255, 255, 255, 0);
}

.bg-fog{
  background-color: rgba(255, 255, 255, 0.42);
}
.shade {
  background-color: rgba(11, 11, 11, 0.49);

}
.header {


}
.footer {
  font-size: 0.8em;
}
.pad {
  height: 70vh;
}
.front-login {

}
#yep, #nup, #yr-in {
  display: none;
}
.gone {
  display: none;
}

.form {
  margin-top: 7px;
  margin-bottom: 7px
}
#user-login-fp {
  margin-bottom: 10px;
}
.namer {
  padding-top: 1em;
  padding-right: 1em;
}
.fxContent {
  position: absolute;
  right: 0;
  top: 0;
  transition: all 1s ease-in-out;

}

.fxMenu {
  list-style-type: none;

}

.fxMenu li {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 90px;
  margin: 5px;
  padding-left: 5px;

  transition: all 1s ease-in-out;
  background-color:rgb(43, 46, 46);

}

.fxMenu li i {
  position: absolute;
  transition: all 1s ease-in-out;

}
.fxMenu li h1 {
    float: right;
    padding-top: 10%;
    transition: all 1s ease-in-out;

}
/* on Hover */

.fxMenu li:hover {
  background-color: #fff;
}
.fxMenu li:hover h1 {
color: #D9534F;
}
.fxMenu li:hover i {
  transform: rotate(-40deg) scale(1.5);

}
.main {
  padding-bottom: 2em;
}
.slida {
  transition: all .3s ease-in-out;

}
.slida:hover {
  color: rgb(51, 85, 231);
}
.postlist li {
  font-size: 0.8em;
}
#clear-btn {
  margin: 7px;
}
